
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-1-bL6 {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(163, 194, 255, 0.6499999762);

  .auto-group-lgsn-MTg {
    margin-bottom: 0.8rem;
    align-items: center;
    display: flex;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 5.8rem 18.8rem 6.7rem 18.8rem;
    width: 100%;
    flex-direction: column;
    background-position: center;
    background-image: url('REPLACE_IMAGE:b7dc60475c0a3781770c70ad10b87191578ac691');
    flex-shrink: 0;

    .auto-group-txcw-dCE {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      flex-shrink: 0;
      height: 16.3rem;
      line-height: 1.2175;
      white-space: nowrap;
      border: solid 0.1rem #000000;
      margin: 0rem 6.1rem 9.2rem 8.3rem;
      text-align: center;
      font-size: 9.6rem;
      font-weight: 400;
      background-color: #bbd2ff;
      border-radius: 3rem;
      width: calc(100% - 14.4rem);
      color: #270000;
      font-family: Montserrat, 'Source Sans Pro';
      justify-content: center;
    }
    .auto-group-jgft-qSi {
      height: 62rem;
      background-color: #bbd2ff;
      border-radius: 3rem;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 8.2rem 7.05rem 7rem 7.05rem;
      width: 100%;

      .central-processing-unit-cpu--vUA {
        line-height: 1.2175;
        color: #270000;
        font-family: Montserrat, 'Source Sans Pro';
        max-width: 92.3rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
  }
  .item--MUv {
    line-height: 1.2175;
    white-space: nowrap;
    flex-shrink: 0;
    font-size: 9.6rem;
    text-align: center;
    font-weight: 400;
    color: #ffffff;
    font-family: Montserrat, 'Source Sans Pro';
    margin-right: 0.1rem;
  }
  .auto-group-ljqn-SWN {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 7rem 2.1rem 6rem 2.4rem;
    width: 100%;
    align-items: center;

    .auto-group-snu8-MNS {
      box-sizing: border-box;
      padding: 5.3rem 4.55rem 5.4rem 4.55rem;
      width: 106rem;
      height: 34.1rem;
      background-color: #d9d9d9;
      border-radius: 2.9rem;
      flex-shrink: 0;
      margin: 0rem 23.9rem 8.2rem 0rem;

      .item-50--eMY {
        line-height: 1.2175;
        color: #270000;
        font-family: Montserrat, 'Source Sans Pro';
        max-width: 96.9rem;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
      }
    }
    .auto-group-mtxa-qyk {
      column-gap: 6rem;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 21rem 3.5rem 18.9rem;
      width: calc(100% - 39.9rem);
      display: flex;

      .image-2-m6i {
        height: 17.6rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 28.6rem;
      }
      .image-3-VoQ {
        height: 23.1rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        width: 34.7rem;
      }
      .image-1-3pv {
        vertical-align: top;
        border-radius: 1.4rem;
        flex-shrink: 0;
        margin-top: 0.1rem;
        width: 24.3rem;
        height: 20.8rem;
        object-fit: cover;
      }
    }
    .auto-group-va8z-Mqc {
      box-sizing: border-box;
      padding: 6.2rem 3.85rem 6.1rem 3.75rem;
      width: calc(100% - 5.6rem);
      height: 51.3rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      flex-shrink: 0;
      margin: 0rem 3.9rem 4.1rem 1.7rem;

      .busicom-12-intel-intel-intel-4004-60000--fbQ {
        font-weight: 400;
        line-height: 1.2175;
        color: #270000;
        font-family: Montserrat, 'Source Sans Pro';
        max-width: 126.3rem;
        text-align: center;
        font-size: 3.2rem;
      }
    }
    .item--ECa {
      font-weight: 400;
      white-space: nowrap;
      flex-shrink: 0;
      margin: 0rem 0.4rem 6.3rem 0rem;
      text-align: center;
      font-size: 9.6rem;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
    }
    .auto-group-ppjl-Uci {
      margin: 0rem 2.2rem 3.6rem 4.3rem;
      width: calc(100% - 6.5rem);
      height: 81.2rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-6-bxE {
        background-color: #d9d9d9;
        border-radius: 3rem;
        width: 120.4rem;
        height: 36.1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .rectangle-7-8xA {
        width: 119.8rem;
        height: 49rem;
        position: absolute;
        left: 13.2rem;
        top: 32.2rem;
        background-color: #d9d9d9;
        border-radius: 3rem;
      }
      .item--GHg {
        font-family: Montserrat, 'Source Sans Pro';
        height: 23.4rem;
        position: absolute;
        text-align: center;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 1.2175;
        width: 109.2rem;
        left: 5.1rem;
        top: 4rem;
        color: #000000;
      }
      .item--X94 {
        position: absolute;
        text-align: center;
        font-weight: 400;
        font-family: Montserrat, 'Source Sans Pro';
        width: 110.1rem;
        height: 31.2rem;
        left: 18rem;
        top: 41.1rem;
        font-size: 3.2rem;
        line-height: 1.2175;
        color: #000000;
      }
    }
    .item--x1Q {
      max-width: 131.1rem;
      font-weight: 400;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      margin: 0rem 0.3rem 7.4rem 0rem;
      text-align: center;
      font-size: 9.6rem;
      flex-shrink: 0;
    }
    .auto-group-vtjc-Buk {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 0rem 1.6rem 2.6rem;
      width: calc(100% - 2.6rem);
      height: 58.4rem;

      .auto-group-hm2j-ht6 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 2rem;
        width: 93.8rem;
        height: 100%;
        align-items: flex-end;

        .auto-group-tk3p-qzJ {
          background-color: #d9d9d9;
          border-radius: 3rem;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
          box-sizing: border-box;
          padding: 5.4rem 1.15rem 5.3rem 1.05rem;
          width: 100%;
          height: 30.2rem;

          .master-lu-2021-amd-intel--AFt {
            font-family: Montserrat, 'Source Sans Pro';
            max-width: 91.6rem;
            text-align: center;
            font-size: 3.2rem;
            font-weight: 400;
            line-height: 1.2175;
            color: #000000;
          }
        }
        .image-5-Z54 {
          flex-shrink: 0;
          margin-right: 5.7rem;
          width: 47.4rem;
          height: 26.6rem;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .image-4-HWr {
        height: 27.2rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 14.2rem;
        width: 41.1rem;
      }
    }
    .auto-group-rbge-d4v {
      width: 100%;
      height: 128.8rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-10-NYJ {
        background-color: #d9d9d9;
        border-radius: 3rem;
        width: 85.8rem;
        height: 36.9rem;
        position: absolute;
        left: 52.8rem;
        top: 8.6rem;
      }
      .amd-ryzen-threadripper-pro-3995wx-master-lu-amd-ryzen-threadripper-3990x-amd-ryzen-threadripper-3970x-intel--hqU {
        font-size: 3.2rem;
        color: #270000;
        width: 77.5rem;
        position: absolute;
        left: 56.9rem;
        top: 13.4rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.2175;
        font-family: Montserrat, 'Source Sans Pro';
        height: 27.3rem;
      }
      .rectangle-11-zi6 {
        background-color: #d9d9d9;
        border-radius: 3rem;
        width: 64.3rem;
        height: 36.9rem;
        position: absolute;
        left: 3.1rem;
        top: 62.6rem;
      }
      .intel-intel-core-i9-11980hk-intel-core-i9-11900h-intel-core-i7-11800h-amd-ryzen-8ZQ {
        height: 23.4rem;
        left: 7.35rem;
        top: 67.4rem;
        text-align: center;
        font-weight: 400;
        width: 55.8rem;
        position: absolute;
        font-size: 3.2rem;
        line-height: 1.2175;
        color: #270000;
        font-family: Montserrat, 'Source Sans Pro';
      }
      .image-6-svJ {
        width: 50.3rem;
        height: 60rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .image-7-cst {
        width: 61.4rem;
        height: 71.9rem;
        position: absolute;
        left: 78.1rem;
        top: 54rem;
        object-fit: cover;
        vertical-align: top;
      }
      .image-8-A8i {
        height: 16.8rem;
        position: absolute;
        left: 9.3rem;
        top: 106.4rem;
        object-fit: cover;
        vertical-align: top;
        width: 29.9rem;
      }
      .image-9-Vgn {
        width: 20.5rem;
        height: 25.3rem;
        position: absolute;
        left: 45.9rem;
        top: 103.5rem;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .auto-group-ec18-2Av {
    position: relative;
    flex-shrink: 0;
    width: 100%;
    height: 233.3rem;

    .rectangle-8-Yf4 {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 144rem;
      height: 134.1rem;
      position: absolute;
      left: 0;
    }
    .rectangle-12-H6r {
      background-color: #d9d9d9;
      border-radius: 3rem;
      width: 123.1rem;
      height: 36.9rem;
      position: absolute;
      left: 10.4rem;
      top: 22.9rem;
    }
    .item--zmx {
      position: absolute;
      left: 8rem;
      top: 1.6rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2175;
      color: #ffffff;
      height: 11.7rem;
      white-space: nowrap;
      font-family: Montserrat, 'Source Sans Pro';
      font-size: 9.6rem;
      width: 127.9rem;
    }
    .cpu--TfY {
      height: 23.4rem;
      top: 29.7rem;
      font-size: 3.2rem;
      line-height: 1.2175;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      width: 112.5rem;
      position: absolute;
      left: 15.7rem;
      text-align: center;
      font-weight: 400;
    }
    .rectangle-13-J3t {
      height: 45.4rem;
      position: absolute;
      left: 32.6rem;
      top: 64rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      width: 107.9rem;
    }
    .cpu-exynos-samsung-exynos-2100-samsung-galaxy-s21-snapdragon-865-plus--ReJ {
      width: 98.8rem;
      position: absolute;
      color: #000000;
      font-family: Montserrat, 'Source Sans Pro';
      height: 35.1rem;
      left: 37.15rem;
      top: 67.4rem;
      text-align: center;
      font-size: 3.2rem;
      font-weight: 400;
      line-height: 1.2175;
    }
    .image-10-fqU {
      width: 27.7069rem;
      height: 29.1rem;
      position: absolute;
      left: 3.6rem;
      top: 72.6rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-14-bUE {
      width: 144rem;
      height: 74.1rem;
      position: absolute;
      left: 0;
      top: 133.8rem;
      object-fit: cover;
      vertical-align: top;
    }
    .rectangle-15-Y8a {
      height: 45.4rem;
      position: absolute;
      left: 3.6rem;
      top: 124.1rem;
      background-color: #d9d9d9;
      border-radius: 3rem;
      width: 120.2rem;
    }
    .dimensity-1000-mediatek-cpu-qualcomm-mediatek--sAr {
      font-size: 3.2rem;
      font-weight: 400;
      width: 112.6rem;
      height: 27.3rem;
      left: 8.15rem;
      top: 127.5rem;
      font-family: Montserrat, 'Source Sans Pro';
      position: absolute;
      text-align: center;
      line-height: 1.2175;
      color: #000000;
    }
    .image-11-SfC {
      width: 45.9rem;
      height: 31.5rem;
      position: absolute;
      left: 86.6rem;
      top: 172.1rem;
      object-fit: cover;
      vertical-align: top;
    }
    .image-12-NYr {
      vertical-align: top;
      width: 46rem;
      height: 28.9rem;
      position: absolute;
      left: 13.3rem;
      top: 174.7rem;
      object-fit: cover;
    }
    .rectangle-16-uog {
      width: 144rem;
      height: 25.9rem;
      position: absolute;
      left: 0;
      top: 207.4rem;
      background: linear-gradient(180deg, rgba(255, 127, 127, 0) 0%, #ff7f7f 100%);
    }
    .item-5-22-DpN {
      width: 32.2rem;
      height: 7.8rem;
      position: absolute;
      top: 211.7rem;
      font-size: 3.2rem;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      left: 97.65rem;
      text-align: center;
      font-weight: 400;
      line-height: 1.2175;
    }
    .https-smartikkievua-dlia-choho-pryznachenyj-protsesor-cpu-https-samsungshopcomua-ru-samsung-news-1145html-https-itechuacom-news-154385-https-sitesgooglecom-site-centralnijprocesori-istoria-https-wwwyoutubecom-watchv0490noukyeabchanneld0a5d0bed187d183d0b7d0bdd0b0d182d0b8-qqk {
      text-align: center;
      line-height: 1.2175;
      color: #ffffff;
      font-family: Montserrat, 'Source Sans Pro';
      height: 13.7rem;
      cursor: pointer;
      left: 2.75rem;
      top: 210.6rem;
      font-size: 1.6rem;
      font-weight: 400;
      width: 69.1rem;
      position: absolute;
    }
  }
}
